---
  # For our tokens, create a file 'secrets.yml' like this
  development:
    user_pass_pg: 'pgUSER:pgPASSWORD@' # the @ is important and is not password
    google_token: 'G00Gl3'
    imgur_token: '1MgUR' # Bearer token, expirable, obtain with client ID
    imgur_album_hash: 'xYzAbC'
    AWS_ACCESS_KEY_ID: 'aws_access_id'
    AWS_SECRET_ACCESS_KEY: 'secret_id'
    AWS_REGION: us-east-1
    CLONE_QUEUE: codepraise-clone.fifo 
    CLONE_QUEUE_URL: https://sqs.us-east-1...

  test:
    user_pass_pg: 'pgUSER:pgPASSWORD@' # the @ is important and is not password
    google_token: 'G00Gl3'
    imgur_token: '1MgUR'
    imgur_album_hash: 'xYzAbC'
    other_token: 'ThisIsAToken2017-0TH3R'
