---
  # For our tokens, create a file 'secrets.yml' like this
  development:
    google_token: 'G00Gl3'
    imgur_token: '1MgUR' # Bearer token, expirable, obtain with client ID
    imgur_album_hash: 'xYzAbC'

  test:
    google_token: 'G00Gl3'
    imgur_token: '1MgUR'
    imgur_album_hash: 'xYzAbC'
    other_token: 'ThisIsAToken2017-0TH3R'
